@page
@model Capstone.Pages.Events.EventApprovalModel
@{
    ViewData["Title"] = "Event Approval";
}


<h2>Event Approval</h2>

@if (Model.RequestedEvents.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Address</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Event Type</th> 
                <th>Description</th>
                <th>Registration Cost</th>
                <th>Estimated Attendance</th>
                <th>Organizer</th>

                @* <th>Description</th>
                <th>Address</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Registration Cost</th>
                <th>Event Type</th> *@

               
            </tr>
        </thead>
        <tbody>
            @foreach (var requestedEvent in Model.RequestedEvents)
            {
                <tr>
                    <td>@requestedEvent.Name</td>
                    <td>@requestedEvent.Address</td>
                    <td>@requestedEvent.StartDate</td>
                    <td>@requestedEvent.EndDate</td>
                    <td>@requestedEvent.EventType</td>
                    <td>@requestedEvent.Description</td>
                    <td>@requestedEvent.RegistrationCost</td>
                    <td>@requestedEvent.EstimatedAttendance</td>
                    <td>@requestedEvent.OrganizerName</td>
                    <td>
                        <form method="post" asp-page-handler="Approve" asp-route-EventName="@requestedEvent.Name">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                        <form method="post" asp-page-handler="Deny" asp-route-EventID="@requestedEvent.EventID">
                            <button type="submit" class="btn btn-danger">Deny</button>
                        </form>
                    </td>

                    @* <td>@requestedEvent.Description</td>
                    <td>@requestedEvent.StartDate</td>
                    <td>@requestedEvent.EndDate</td>
                    <td>@requestedEvent.RegistrationCost</td>
                    <td>@requestedEvent.EventType</td> *@

                    <!-- Add other table cells for additional properties -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No events requested.</p>
}