@page
@model Capstone.Pages.Events.EventApprovalModel
@{
}

<form method="get">
    <h1>Event Approval</h1>

    <div>
        <label>Event Name:</label>
        <span> @Model.NewEvent.Name</span>
        <label>Description:</label>
        <span>@Model.NewEvent.Description</span>
        <label>Address:</label>
        <span>@Model.NewEvent.Address</span>
        <label>Start Date:</label>
        <span>@Model.NewEvent.StartDate</span>
        <label>End Date:</label>
        <span>@Model.NewEvent.EndDate</span>
        <label>Estimated Attendance:</label>
        <span>@Model.NewEvent.EstimatedAttendance</span>
        <label>Event Type:</label>
        <span>@Model.NewEvent.EventType</span>
        <label>Registration Cost:</label>
        <span>@Model.NewEvent.RegistrationCost</span>
    </div>
    

    <button type="submit" asp-page-handler="OnPostApprove" class="btn btn-success">Approve</button>
    <button type="submit" asp-page-handler="OnPostReject" class="btn btn-danger">Reject</button>
</form>