@page
@model Capstone.Pages.Events.EventApprovalModel
@{
}

<form>
    <h2>Event Approval</h2>
    <dl>
        <dt>Event Name:</dt>
        <dd>@Model.NewEvent.EventName</dd>
        <dd>@Model.NewEvent.RegistrationCost</dd>
        <dd>@Model.NewEvent.EstimatedAttendance</dd>
        <dd>@Model.NewEvent.StartDate</dd>
        <dd>@Model.NewEvent.EndDate</dd>
        <dd>@Model.NewEvent.EventType</dd>

    </dl>

</form>