@page
@model Capstone.Pages.Profile.IndexModel
@{

}


<div class="container">
<div class="row justify-content-between">
    <div class="col-5 shadow p-3 mb-5 bg-body-tertiary rounded text-center">
<h2>Profile</h2>


            
                <!-- Profile Image Placeholder -->
                <div class="text-center mx-auto d-block" style="width: 300px; height: 300px; border-radius: 50%; background-color: #ddd; margin-bottom: 20px;">

                </div>

                <!--   <form method="post" enctype="multipart/form-data" asp-action="UploadImage">
                <input classs="profimage" type="file" name="profileImage" accept="image/*" /><br>
                <button type="submit">Upload Profile Picture</button>
                </form> -->
                <button class="mx-auto" type="submit">Edit Profile</button>
            
</div>

<div class="profileinfo shadow p-3 mb-5 bg-body-tertiary rounded col-6">
    <h3>Username: </h3>
        <p>@Model.CurrentUser.Username</p>
    <h3>Name: </h3>
        <p>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</p>
    <h3>Email: </h3>
        <p>@Model.CurrentUser.Email</p>
    <h3>Phone: </h3>
        <p>@Model.CurrentUser.PhoneNumber</p>

        




</div>
</div>
</div>