@page
@model Capstone.Pages.IndexModel
@{
}


@{
    if (HttpContext.Session.GetString("username") != null)
    {
        <p>@HttpContext.Session.GetString("username") logged in</p>

        //log out
        <form asp-page="DBLogin" asp-page-handler="LogoutHandler">
            <input type="submit" class="btn btn-danger" value="logout">
        </form>
    }
}

<div class="text-center">
    <h1>Welcome!</h1>
    <br />
    <br />
    <div>
        <a href="/ConferenceSignUp" class="btn btn-primary">Sign up for Events and Conferences</a>
    </div>
    <br />
    <br />
    <a href="/SummaryPage" class="btn btn-primary">Check out your Upcoming Events</a>
    <br />
    <br />
    <a href="/ShowUserInfo" class="btn btn-primary">Show all User Information</a>
    <br />
    <br />
    <p>Search for Events</p>
    <form asp-page="Index" method="post" class="d-flex" role="search">
        <input class="form-control me-2" asp-for="SearchKeyword" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

</div>
@{
    if (Model.Events != null)
    {
        <h3>Events</h3>
        <table class="table table-bordered table-responsive table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Description</th>
                    

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Events)
                {
                    <tr>
                        <td>@item.Description</td>
                        

                    </tr>
                }
            </tbody>
        </table>
    }
}

@* @{
    if (@Model.x != null) {
        <h3>Events</h3>
        <table>
        <thead>
        <tr>
        <th>Description</th>
        <th>Meeting room</th>
        <th>Capacity</th>
        </tr>
        </thead>
        <tbody>


        @foreach (var i in @Model.x) {
            <tr>
            <td>@i.Description</td>
            <td>@i.MeetingRoom</td>

            </tr>
        }
        </tbody>

        </table>
    }

} *@